@import "navbarContainer";
@import "templateContainer";  
@import "footerContainer";
@import "signInPage";
@import "landingPage";
@import "adminPage";
@import "mobileStyles";
@import "coursesPage";
@import "locationsPage";
@import "instructorsPage";
@import "schedulePage";


* {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;

  button {
    font-family: Helvetica, Arial, sans-serif !important;
  }
}

p {
  white-space: pre-wrap;
}
// @media (min-width: 200px){
  html {
    -webkit-font-smoothing: antialiased;
    // min-width: 1200px !important;
  }

  body, html { 
    overflow-x:hidden; 
    // min-width: 1200px !important;
  }
// }

a {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  // background-color: #101010;
}

ul {
  list-style-type: none;
}

textarea {
  resize: none;
}

.float-right {
  float: right;
}

.no-padding {
  padding: 0;
}

.template-container {
  padding-top: 50px;
  height: 100%;
  min-height: 100vh;
}

.nav li{
  cursor: pointer;
}